*{
  margin: 0px;
}

.app{
background-color: #fafafa;
height: 100vh;
}

.app__post{
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* .app_postLeft{} */

.app_postright{
  margin-left: 20px;
}
.app__header{
  position: sticky;
  top: 0px;
  z-index: 1;
  border-bottom: 1px solid lightgray;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__imgHeader{
  object-fit: contain;
}

.app__signup{
  display: flex;
  flex-direction: column;
}